<div class="container">
    <div class="row">
        <div class="card col-md-8 offset-md-2 mt-4">
            <h2 class="text-center mb-4">About</h2>
            <section>
                <h3>Website Information</h3>
                <p>This website was built using <a href="https://angular.io/">Angular</a> as the front-end framework and
                    <a href="https://nodejs.org/en/">Node.js</a> with the <a href="https://expressjs.com/">Express</a>
                    server and <a href="https://www.sqlite.org/">SQLite</a> database as the back-end. The website is
                    served using <a href="https://www.nginx.com/">Nginx</a>, and is hosted on <a
                        href="https://azure.microsoft.com/">Azure</a>.</p>
            </section>
            <section>
                <h3>Developer Information</h3>
                <p>My name is Mohammed, and I am the developer of this website. You can find more information about me
                    and my portfolio at <a
                        href="http://mohammed-alhajjaj.sptek.tech/">http://mohammed-alhajjaj.sptek.tech/</a>.</p>
            </section>
            <section>
                <h3>Technologies Used</h3>
                <p>Here are the technologies used to build this website:</p>
                <ul>
                    <li><a href="https://angular.io/">Angular</a>: A popular front-end framework for building dynamic
                        web applications.</li>
                    <li><a href="https://nodejs.org/en/">Node.js</a>: A JavaScript runtime built on Chrome's V8
                        JavaScript engine.</li>
                    <li><a href="https://expressjs.com/">Express</a>: A minimal and flexible Node.js web application
                        framework.</li>
                    <li><a href="https://www.sqlite.org/">SQLite</a>: A lightweight, file-based relational database
                        system.</li>
                    <li><a href="https://www.nginx.com/">Nginx</a>: A high-performance web server and reverse proxy.
                    </li>
                    <li><a href="https://azure.microsoft.com/">Azure</a>: A cloud computing platform and service
                        provided by Microsoft.</li>
                </ul>
            </section>
        </div>
    </div>
</div>