<div class="container p-4" >
    <div class="card mt-4">
        <div class="p-4">
            <h1>About</h1>
            <hr>
            <h2>Technologies Used</h2>
            <ul>
                <li><a href="https://angular.io/">Angular</a>: A popular front-end framework for building dynamic
                    web applications.</li>
                <li><a href="https://nodejs.org/en/">Node.js</a>: A JavaScript runtime built on Chrome's V8
                    JavaScript engine.</li>
                <li><a href="https://expressjs.com/">Express</a>: A minimal and flexible Node.js web application
                    framework.</li>
                <li><a href="https://www.sqlite.org/">SQLite</a>: A lightweight, file-based relational database
                    system.</li>
                <li><a href="https://www.nginx.com/">Nginx</a>: A high-performance web server and reverse proxy.
                </li>
                <li><a href="https://azure.microsoft.com/">Azure</a>: A cloud computing platform and service
                    provided by Microsoft.</li>
            </ul>

            <h2>About the Developer</h2>
            <p>My name is Mohammed Alhajjaj and I'm a software developer based in Calgary. I created this website to
                help
                people download thousand of books in txt, pdf or mp3. If you have any feedback or suggestions,
                please
                don't hesitate to contact me using the form on my <a href="http://mohammed-alhajjaj.sptek.tech/"
                    target="_blank">portfolio website</a>.</p>

            <h2>Portfolio</h2>
            <p>Check out my portfolio website for more information about me and my projects:</p>
            <a href="http://mohammed-alhajjaj.sptek.tech/" class="btn btn-primary" target="_blank">Visit Portfolio</a>

        </div>
    </div>

</div>