<div class="container" style="height: 90vh;">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <div class="card mb-3">
                <h2 class="text-center mb-4">Convert Book</h2>
                <div class="card-body">
                    <div>
                        <div class="dnd-container" appDnd (fileDropped)="onFileDropped($event)"
                            onclick="document.getElementById('fileDropRef').click()">
                            <input type="file" #fileDropRef id="fileDropRef" 
                                (change)="fileBrowseHandler($event)" style="display: none;">
                            <i class="fa fa-cloud-upload fa-2x" width="20px" alt="file"></i>
                            <h3>Drag and drop file here</h3>
                            <h3>or</h3>
                            <p>click to browse</p>
                        </div>
                        <div class="files-list">
                            <div class="single-file" *ngFor="let file of files; let i = index">
                                <div class="info">
                                    <h4 class="name">
                                        {{ file?.name }}
                                    </h4>
                                    <p class="size">
                                        {{ formatBytes(file?.size) }}
                                    </p>
                                    <app-progress [progress]="file?.progress"></app-progress>
                                </div>
                                <button class="delete" width="20px" alt="file" (click)="deleteFile(i)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label for="reading-speed">Select Language</label>
                        <select id="reading-speed" class="form-control" [(ngModel)]="selectedLanguage">
                            <option *ngFor="let language of languages" [value]="language">
                                {{ language.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mt-4">
                        <label for="reading-speed">Select voice</label>
                        <select id="reading-speed" class="form-control" [(ngModel)]="selectedVoice">
                            <option *ngFor="let voice of voices" [value]="voice">
                                {{ voice }}
                            </option>
                        </select>
                    </div>
                        <div class="text-center mt-4" *ngIf="isControlEnabled">
                            <div class="btn-group" role="group">
                                <button id="play-pause-btn" class="btn bg-accent" (click)="playPause()">
                                    <i [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying}" class="fa"></i>
                                </button>
                                <button id="increase-speed-btn" class="btn bg-accent" (click)="increaseSpeed()">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button id="decrease-speed-btn" class="btn bg-accent" (click)="decreaseSpeed()">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button id="download-btn" class="btn bg-accent" (click)="download()">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button id="cancel-btn" class="btn btn-secondary" (click)="cancel()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <div id="spinner" [ngClass]="{'d-none': !isConverting}">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Converting...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>