<div class="container" >
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <div class="card mb-3">
                <h2 class="text-center mb-4">Convert Book</h2>
                <div class="card-body">
                    <div>
                        <div class="dnd-container" appDnd (fileDropped)="onFileDropped($event)"
                            onclick="document.getElementById('fileDropRef').click()">
                            <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)"
                                style="display: none;">
                            <i class="fa fa-cloud-upload fa-2x" width="20px" alt="file"></i>
                            <h3>Drag and drop file here</h3>
                            <h3>or</h3>
                            <p>click to browse</p>
                        </div>
                        <div class="files-list">
                            <div class="single-file" *ngFor="let file of files; let i = index">
                                <div class="info">
                                    <h4 class="name">
                                        {{ file?.name }}
                                    </h4>
                                    <p class="size">
                                        {{ formatBytes(file?.size) }}
                                    </p>
                                    <app-progress [progress]="file?.progress"></app-progress>
                                </div>
                                <button class="delete" width="20px" alt="file" (click)="deleteFile(i)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                   
                    
                    <div class="text-center mt-4" *ngIf="isControlEnabled">
                        <div class="btn-group" role="group">
                            <button id="play-pause-btn" class="btn bg-accent" (click)="play()">
                                <i  class="fa fa-play"></i>
                            </button>
                            <button id="download-btn" class="btn bg-accent" (click)="download()">
                                <i class="fa fa-download"></i>
                            </button>
                            <button id="cancel-btn" class="btn btn-secondary" (click)="cancel()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>