<nav class="navbar navbar-expand-lg bg-accent fixed-top navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/ebooks"><i class="fa fa-book fa-x4"></i>BBCast</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" *ngFor="let tab of tabs">
                    <a class="nav-link" style="font-size: large;"
                    [routerLink]="tab.url" (click)="selectTab(tab)"
                        [class.active]="tab === selectedTab">
                        {{ tab.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" style="font-size: x-large;" aria-current="page" routerLink="/about"><i
                            class="fa fa-info-circle fa-x2"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>